<h1><%= $battle.players[0].name %> vs. <%= $battle.players[1].name %></h1>

<p><%= "#{$battle.players[0].name} HP: #{$battle.players[0].hp}" %></p>
<p><%= "#{$battle.players[1].name} HP: #{$battle.players[1].hp}" %></p>

<% if @last_action %>
  <%= $battle.players[1].name + " attacked " + $battle.players[0].name %>
<% end %>

<form action="/play" method="post">
  <input type="submit" name="last_action" value="Attack">
</form>
